<div class="row">
  <div class="col-md-12">
    <p style="margin-top:30px;"><%= link_to "<< Na prvo stran", root_path %></p>
    <h1>Generator URL-jev</h1>

    <style type="text/css">
      .row {
        padding: 0 5%;
        margin:0 auto;
      }

      h4 {
        margin:50px 0 10px;
      }

      button.btn {
        margin:35px 0 40px;
      }

      .col-sm-5 {
        display: block;
        float: none;
        padding: 0;
      }

      .panel {
        margin: 0 0 60px;
      }
    </style>

    <form role="form" id="builder_new" action="#">
      <h4><small>1. korak:</small> Vpiši URL spletne strani.</h4>
      <div class="form-group">
        <label for="website_url">URL *</label>
        <input type="text" class="form-control" id="website_url" name="website_url" value="<%= params[:website_url] %>" required>
        <p class="help-block">(primer: http://www.emazing.si/odpri-racun)</p>
      </div>
      <h4><small>2. korak:</small> Izpolni spodnja polja.</h4>
      <div class="form-group col-sm-5">
        <label for="source">Source</label>
        <input type="text" class="form-control" id="utm_source" name="utm_source" value="<%= params[:utm_source] %>">
        <p class="help-block">(primer: emazing)</p>
      </div>
      <div class="form-group col-sm-5">
        <label for="medium">Medium</label>
        <input type="text" class="form-control" id="utm_medium" name="utm_medium" value="<%= params[:utm_medium] %>">
        <p class="help-block">(primer: facebook, adwords)</p>
      </div>
      <div class="form-group col-sm-5">
        <label for="term">Term</label>
        <input type="text" class="form-control" id="utm_term" name="utm_term" value="<%= params[:utm_term] %>">
        <p class="help-block">(kampanja: izdelki, težave, remarketing, bannerji)</p>
      </div>
      <div class="form-group col-sm-5">
        <label for="content">Content</label>
        <input type="text" class="form-control" id="utm_content" name="utm_content" value="<%= params[:utm_content] %>">
        <p class="help-block">(ad set: propolis, med, cvetni prah)</p>
      </div>
      <div class="form-group col-sm-5">
        <label for="campaign">Campaign</label>
        <input type="text" class="form-control" id="utm_campaign" name="utm_campaign" value="<%= params[:utm_campaign] %>">
        <p class="help-block">(primer: medex)</p>
      </div>
      <button type="submit" class="btn btn-default">Generiraj URL, naziv kampanje in oglasa</button>
    </form>

    <div class="panel panel-success">
      <div class="panel-body">
        <div class="form-group">
          <label for="content">URL</label>
          <input type="text" class="form-control" id="campaign_url" name="campaign_url" value="" disabled>
        </div>
        <div class="form-group">
          <label for="content">Naziv kampanje</label>
          <input type="text" class="form-control" id="campaign_name" name="campaign_name" value="" disabled>
        </div>
        <div class="form-group">
          <label for="content">Naziv skupine oglasov (Ad Set)</label>
          <input type="text" class="form-control" id="ad_name" name="ad_name" value="" disabled>
        </div>
      </div>
    </div>
  </div>
</div>