<p style="margin:30px 40px 0;"><%= link_to "<< Go home", root_path %></p>

<h1>
  Ads Report
  <%= link_to "Export to Excel", ga_exports_path(format: :xlsx), class: "btn btn-primary btn-sm" %>
</h1>

<p class="actions">Report about advertising campaigns for account <strong>SMANIA</strong> from <strong><%= @start_date %></strong> to <strong><%= @end_date %></strong>.</p>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <% @export_data[:column_headers].each do |column_header| %>
      <th><%= column_header.gsub('ga:', '').titlecase %></th>
      <% end -%>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @export_data[:rows].each do |row| %>
      <tr>
        <% row.each_with_index do |text, index| %>
          <% if index == 3 %>
            <td><span title="<%= text %>"><%= truncate(text, length: 14) %></span></td>
          <% else %>
            <td><%= text %></td>
          <% end %>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>
