<p style="margin:30px 40px 0;"><%= link_to "<< Na prvo stran", root_path %></p>

<h1>
  Poročila oglaševanja
  <%= link_to "Izvozi v Excel", ga_exports_path(format: :xlsx), class: "btn btn-primary btn-sm" %>
</h1>

<p class="actions">Poročila o oglešavalskih kampanjah za Google Analytics račun <strong><%= @current_ga_account.alias %></strong><% unless @ga_exports.empty? %> od <strong><%= @ga_exports[-1].start_date %></strong> do <strong><%= @ga_exports[0].start_date %></strong><% end -%>.</p>

<% @ga_exports.each do |ga_export| %>
  <h2 style="margin:0 40px 0;">
    <small><%= ga_export.start_date %></small>
    <%= button_to "Ponovno osveži iz Google Analytics", { action: :update, id: ga_export.id }, method: :put, form_class: 'refresh_ga_export', class: "btn btn-default btn-xs" if ga_export.start_date == Date.yesterday %>
  </h2>

  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <% ga_export.column_headers.each do |column_header| %>
        <th><%= column_header.gsub('ga:', '').titlecase %></th>
        <% end -%>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% ga_export.ga_records.each do |record| %>
        <tr>
          <% record.data.each_with_index do |value, index| %>
            <% if index == 3 %>
              <td><span title="<%= value %>"><%= truncate(value, length: 14) %></span></td>
            <% else %>
              <td><%= value %></td>
            <% end %>
          <% end -%>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<% if @ga_exports.empty? %>
  <h3 style="margin:0 40px 0;"><small>Poročila še niso izvožena.</small></h3>
<% end -%>